.targetList {
  margin-top: 200px;
  min-height: 100px;
  max-width: 45%;
  border: solid 5px hsl(0, 69%, 35%);
}

.sourceColumn {
  min-height: 100px;
  border: solid 2px hsl(0, 7%, 15%);
  max-width: 45%;
}

.listContainer {
  background: #adc8d2;
  width: 275px;
  height: fit-content;
  margin: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.listTitle {
  cursor: pointer;
  font-weight: 500;
  overflow-wrap: break-word;
}

.editListTitle {
  padding: 8px;
}

.addCard {
  cursor: pointer;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
}

.addCard:hover {
  background-color: rgb(222, 237, 237);
}

.addCardForm {
  width: 263px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  border: 0;
}

.list {
  background: #adc8d2;
  width: 275px;
  height: fit-content;
  margin: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
